<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Metin2 - Okey Helper</title>
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="p5.min.js"></script>
    <script src="helper.js"></script>
    <script src="//cookieinfoscript.com/js/cookieinfo.min.js" type="text/javascript" id="cookieinfo"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177843690-1"></script>
    <script>
        if (/wadeira.github.io\/okey-helper/.test(location.href)) {
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-177843690-1');
        }
    </script>
    <style>
        * { font-family: 'Roboto', sans-serif; }
        body { background: #101015; color: white }
        .container { margin: auto; text-align: center }
        .controls {
            margin: 15px 0;
        }

        .controls i {
            padding: 5px;
            border: 1px solid white;
            margin: 2px;
        }

        .points { margin: auto }
        .points table { display: inline }

        .points table {
            /*display: inline;*/
            border-collapse: collapse;
        }

        .points table tr:first-child {
            border-top: 1px solid white;
        }

        .points table tr {
            border-left: 1px solid white;
            border-right: 1px solid white;
            border-bottom: 1px solid white;
        }

        .points table td {
            border-left: 1px solid white;
            border-right: 1px solid white;
            padding: 2px 15px
        }

        .points table img {
            width: 12px;
        }

        .footer {
            margin-top: 25px;
        }
        
        .footer a {
            color: white;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <div class="container" id="app">
        <div id="game"></div>
        <div class="controls">
            <i onclick="desfazer()" class="fa fa-undo"></i>
            <i onclick="refazer()" class="fa fa-redo"></i>
            <i onclick="limpar()" class="fas fa-eraser"></i>
        </div>
        <div class="points">
            <table>
                <tr>
                    <td>Cartas</td><td>Pontos</td>
                </tr>
                <tr>
                    <td>1-1-1</td><td>20 <img src="circle_all.png" v-if="combinacaoDisponivel(1,1,1)"></td>
                </tr>
                <tr>
                    <td>2-2-2</td><td>30 <img src="circle_all.png" v-if="combinacaoDisponivel(2,2,2)"></td>
                </tr>
                <tr>
                    <td>3-3-3</td><td>40 <img src="circle_all.png" v-if="combinacaoDisponivel(3,3,3)"></td>
                </tr>
                <tr>
                    <td>4-4-4</td><td>50 <img src="circle_all.png" v-if="combinacaoDisponivel(4,4,4)"></td>
                </tr>
                <tr>
                    <td>5-5-5</td><td>60 <img src="circle_all.png" v-if="combinacaoDisponivel(5,5,5)"></td>
                </tr>
                <tr>
                    <td>6-6-6</td><td>70 <img src="circle_all.png" v-if="combinacaoDisponivel(6,6,6)"></td>
                </tr>
                <tr>
                    <td>7-7-7</td><td>80 <img src="circle_all.png" v-if="combinacaoDisponivel(7,7,7)"></td>
                </tr>
                <tr>
                    <td>8-8-8</td><td>90 <img src="circle_all.png" v-if="combinacaoDisponivel(8,8,8)"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Cartas</td><td>Cores diferentes</td><td>Mesma cor</td>
                </tr>
                <tr>
                    <td>
                        1-2-3
                    </td>
                    <td>
                        10
                        <img src="circle_all.png" v-if="combinacaoDisponivel(1,2,3)">
                    </td>
                    <td>
                        50 
                        <img src="circle_blue.png" v-if="combinacaoDisponivel(1,2,3, 0)">
                        <img src="circle_red.png" v-if="combinacaoDisponivel(1,2,3, 1)">
                        <img src="circle_yellow.png" v-if="combinacaoDisponivel(1,2,3, 2)">
                    </td>
                </tr>
                <tr>
                    <td>
                        2-3-4
                    </td>
                    <td>
                        20
                        <img src="circle_all.png" v-if="combinacaoDisponivel(2,3,4)">
                    </td>
                    <td>
                        60 
                        <img src="circle_blue.png" v-if="combinacaoDisponivel(2,3,4, 0)">
                        <img src="circle_red.png" v-if="combinacaoDisponivel(2,3,4, 1)">
                        <img src="circle_yellow.png" v-if="combinacaoDisponivel(2,3,4, 2)">
                    </td>
                </tr>
                <tr>
                    <td>3-4-5</td>
                    <td>
                        30
                        <img src="circle_all.png" v-if="combinacaoDisponivel(3,4,5)">
                    </td>
                    <td>
                        70 
                        <img src="circle_blue.png" v-if="combinacaoDisponivel(3,4,5, 0)">
                        <img src="circle_red.png" v-if="combinacaoDisponivel(3,4,5, 1)">
                        <img src="circle_yellow.png" v-if="combinacaoDisponivel(3,4,5, 2)">
                    </td>
                </tr>
                <tr>
                    <td>4-5-6</td>
                    <td>
                        40
                        <img src="circle_all.png" v-if="combinacaoDisponivel(4,5,6)">
                    </td>
                    <td>
                        80 
                        <img src="circle_blue.png" v-if="combinacaoDisponivel(4,5,6, 0)">
                        <img src="circle_red.png" v-if="combinacaoDisponivel(4,5,6, 1)">
                        <img src="circle_yellow.png" v-if="combinacaoDisponivel(4,5,6, 2)">
                    </td>
                </tr>
                <tr>
                    <td>5-6-7</td>
                    <td>
                        50
                        <img src="circle_all.png" v-if="combinacaoDisponivel(5,6,7)">
                    </td>
                    <td>
                        90 
                        <img src="circle_blue.png" v-if="combinacaoDisponivel(5,6,7, 0)">
                        <img src="circle_red.png" v-if="combinacaoDisponivel(5,6,7, 1)">
                        <img src="circle_yellow.png" v-if="combinacaoDisponivel(5,6,7, 2)">
                    </td>
                </tr>
                <tr>
                    <td>6-7-8</td>
                    <td>
                        60
                        <img src="circle_all.png" v-if="combinacaoDisponivel(6,7,8)">
                    </td>
                    <td>
                        100 
                        <img src="circle_blue.png" v-if="combinacaoDisponivel(6,7,8, 0)">
                        <img src="circle_red.png" v-if="combinacaoDisponivel(6,7,8, 1)">
                        <img src="circle_yellow.png" v-if="combinacaoDisponivel(6,7,8, 2)">
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="footer">
            <a href="https://github.com/wadeira/okey-helper/index_o.html">Versão nova</a>
        </div>
    </div>
</body>
</html>
